body {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../img/hero-background.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;

  @media (max-width: 768px) {
    background-position: calc(100% + 300px) 0;
  }
  @media (max-width: 480px) {
    background-position: calc(100% + 500px) -100px;
    background-size: cover;
  }
}