.footer {
  padding: 60px 0;
  color: $secondary;

  dl > li {
    margin-bottom: 8px;

    a {  
      color: $secondary;
      
      &.list-title {
        @extend .text-quicksand-medium;
        color: $black;
        font-size: 18px;
      }
    }
  }
  .divider {
    border-right: 1px solid $grey;

    @media (max-width: 768px) {
      border: 0;
      border-bottom: 1px solid $light-grey;
      margin-bottom: 30px;
      padding-bottom: 30px;
    }
  }
}