.service {
  padding: 60px 0 120px 0;
  position: relative;

  &:after {
    @include arrow();
    left: 12%;
    bottom: 5%;
  }
  @media (max-width: 768px) {
    &:after {
      display: none;
    }
  }
}